#border {
    border: solid 10px blue;
    background-color: black;
    width: 400px;
    height: 400px;
    position: absolute;
}

#food {
    position: absolute;
    z-index: 2;
    background-color: yellow;
    width: 10px;
    height: 10px;
}

.solidSnake1 {
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    
}